:root {
    /* PRIMARY (coral) */
    --mx-primary-50: 255 241 241;
    --mx-primary-100: 255 225 225;
    --mx-primary-200: 255 199 199;
    --mx-primary-300: 255 160 160;
    --mx-primary-400: 255 97 97;
    --mx-primary-500: 248 59 59;
    --mx-primary-600: 229 29 29;
    --mx-primary-700: 193 20 20;
    --mx-primary-800: 160 20 20;
    --mx-primary-900: 132 24 24;
    --mx-primary-950: 72 7 7;
  
    /* SECONDARY (amarillo) */
    --mx-secondary-50: 255 251 207;
    --mx-secondary-100: 255 249 184;
    --mx-secondary-200: 255 246 138;
    --mx-secondary-300: 255 242 92;
    --mx-secondary-400: 255 239 46;
    --mx-secondary-500: 255 236 0;
    --mx-secondary-600: 240 222 0;
    --mx-secondary-700: 224 208 0;
    --mx-secondary-800: 209 195 0;
    --mx-secondary-900: 194 181 0;
    --mx-secondary-950: 186 174 0;
  
    /* neutrales */
    --mx-bg: 245 246 248;
    --mx-surface: 255 255 255;
  
    --mx-text: 55 65 81;
    --mx-muted: 107 114 128;
    --mx-border: 229 231 235;
    --mx-overlay: 0 0 0;
  }
  